
<html>
<head>
    <title>Single article</title>
</head>  
<body>
<h1>Single Product View</h1>  
<h2><%=request.product.name%></h2>
<p><%= request.product.content %></p>
<p>BDT- <%= request.product.price%></p>
<p>Quantity- <%= request.product.quantity%></p>


</body>
</html>